@using System.Net.Http
@using Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using System.Text.Json
@using System.Text
@attribute [Authorize]
@inject IAccessTokenProvider _tokenProvider
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject RequestMessageGenerator RequestMessageGenerator
@inject IConfiguration Configuration

<div>
    <EditForm Model="@ContactToSubmit" OnValidSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <p>
            <label>
                Imię
                <InputText minlength=1 maxlength=16 @bind-Value="ContactToSubmit!.Name" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.Name" />
        </p>
        <p>
            <label>
                Nazwisko
                <InputText minlength=1 maxlength=16 @bind-Value="ContactToSubmit.Surname" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.Surname" />
        </p>
        <p>
            <label>
                E-mail
                <InputText minlength=1 maxlength=16 @bind-Value="ContactToSubmit.Email" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.Email" />
        </p>
        <p>
            <label>
                Hasło
                <InputText minlength=1 maxlength=16 @bind-Value="ContactToSubmit.Password" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.Password" />
        </p>
        <p>
            <label>
                Telefon
                <InputText type="tel" minlenght=9 maxlength=9 @bind-Value="ContactToSubmit.PhoneNumber" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.PhoneNumber" />
        </p>
        <p>
            <label>
                Data urodzenia
                <InputDate minlength=1 maxlength=16 @bind-Value="ContactToSubmit.DateOfBirth" />
            </label>
            <ValidationMessage For="() => ContactToSubmit.DateOfBirth" />
        </p>
        <p>
            <label>
                Kategoria
                <InputSelect @ref="selectComponent" @bind-Value="ContactToSubmit.CategoryId">
                    @foreach (var category in CategoriesList)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </InputSelect>
            </label>
            <ValidationMessage For="() => ContactToSubmit.CategoryId" />
        </p>
        @if (CheckSubcategoriesAvailability(selectComponent.Value))
        {
            <p>
                <label>
                    Podkategoria
                    <InputSelect @bind-Value="ContactToSubmit.Subcategory.SubcategoryId">
                        @foreach (var subcategory in SubcategoriesList)
                        {
                            <option value="@subcategory.SubcategoryId">@subcategory.Name</option>
                        }
                    </InputSelect>
                </label>
                <ValidationMessage For="() => ContactToSubmit.Subcategory.SubcategoryId" />
            </p>
        }
        else if
        (CheckIfEditableSubcategory(ContactToSubmit.CategoryId, false) ||
        CheckIfEditableSubcategory(selectComponent.Value))
        {
            <p>
                <label>
                    Wpisz własną podkategorię
                    <InputText minlength=3 maxlength=10 @bind-Value="ContactToSubmit.Subcategory.Name" />
                </label>
                <ValidationMessage For="() => ContactToSubmit.Subcategory.Name" />
            </p>
        }
        <RadzenButton ButtonType="ButtonType.Submit" Text="Zapisz" ButtonStyle="ButtonStyle.Primary" />
    </EditForm>
</div>
@if (ErrorMessage != null)
{
    <div>@ErrorMessage</div>
}


@code {

    [Parameter]
    public string? ContactId { get; set; }
    private Contact? ContactToSubmit { get; set; } = new();
    private string? ErrorMessage { get; set; }
    private string? EndpointUrl;
    private List<Category>? CategoriesList { get; set; } = new();
    private List<Subcategory> SubcategoriesList { get; set; } = new();
    private InputSelect<int>? selectComponent = new();
    private bool SubcategoryFieldVisible { get; set; } = false;
    private bool FirstUsageOfCheckSubcategoriesAvailability { get; set; } = true;
    private int OldSelectComponentValue;

    protected override async Task OnInitializedAsync()
    {
        EndpointUrl = Configuration.GetSection("EndpointUrl").Value;
        await GetCategoriesList();
        await GetSubcategoriesList();
        string request;

        //Checking if it is edit form or create form. If ConctactId isn't provide it is create form.
        if (ContactId == null)
        {
            ContactToSubmit.CategoryId = CategoriesList.First().CategoryId;
            ContactToSubmit.Name = "";
            return;
        }
        //If it is edit form, app fetches contact data from server using backend
        else request = $"/contacts/getcontactbyid?contactId={ContactId}";
        var requestMessage = await RequestMessageGenerator.GetHttpRequestMessage(HttpMethod.Get, EndpointUrl + request);
        var getResponse = await Http.SendAsync(requestMessage);
        //Very simple error handling
        if (getResponse.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            ErrorMessage = "GetContactById request returned status code: " + getResponse.StatusCode.ToString();
            return;
        }
        else if (!getResponse.IsSuccessStatusCode)
        {
            ErrorMessage = "GetContactById request returned status code: " + getResponse.StatusCode.ToString();
            return;
        }
        ContactToSubmit = await getResponse.Content.ReadFromJsonAsync<Contact>();
    }

    //Method checks whether to show the field with subcategories
    //and if yes, it sets the appropriate values in the fields
    private bool CheckSubcategoriesAvailability(int categoryId)
    {
        if (ContactToSubmit.Name == null) return false;
        if (selectComponent.Value != ContactToSubmit.CategoryId)
        {
            selectComponent.Value = ContactToSubmit.CategoryId;
            categoryId = selectComponent.Value;
        }

        if (selectComponent.Value == OldSelectComponentValue && SubcategoryFieldVisible) return true;
        OldSelectComponentValue = selectComponent.Value;

        Console.WriteLine(selectComponent.Value);

        var filteredSubcategories = SubcategoriesList.Where(s => s.CategoryId == categoryId).ToList();
        if (filteredSubcategories.Count == 0)
        {
            SubcategoryFieldVisible = false;
            return false;
        };
        SubcategoriesList = filteredSubcategories;

        //First shown of the subcategory select in edit form
        if (FirstUsageOfCheckSubcategoriesAvailability && ContactId != null)
        {
            SubcategoryFieldVisible = true;
            FirstUsageOfCheckSubcategoriesAvailability = false;
            return true;
        }
        //Category change from private to businesses and first shown
        //of subcategory in create form
        else if (ContactToSubmit.Subcategory is null)
        {
            ContactToSubmit.Subcategory = new() { Name = filteredSubcategories.First().Name };
            ContactToSubmit.Subcategory.SubcategoryId = filteredSubcategories.First().CategoryId;
        }
        //Category change from other to businesses
        else if (SubcategoryFieldVisible == false)
        {
            ContactToSubmit.Subcategory.Name = filteredSubcategories.First().Name;
            ContactToSubmit.Subcategory.SubcategoryId = filteredSubcategories.First().CategoryId;
        }
        SubcategoryFieldVisible = true;
        return true;
    }

    //Method checks whether to show field with input where user can provide own subcategory
    //and if yes, it sets the appropriate values in the fields
    private bool CheckIfEditableSubcategory(int categoryId, bool onCategoryChange = true)
    {
        var category = CategoriesList
        .Where(c => c.CategoryId == categoryId && c.IsAddingSubcategoryPossible == true)
        .FirstOrDefault();
        if (category is null) return false;

        if (ContactToSubmit.Subcategory is null) ContactToSubmit.Subcategory = new() { Name = "" };
        else if (onCategoryChange) ContactToSubmit.Subcategory.Name = "";
        return true;
    }

    private async Task GetCategoriesList()
    {
        string request = $"/category/getallcategories";

        var response = await Http.GetAsync(EndpointUrl + request);
        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            ErrorMessage = "GetCategoriesList request returned status code: " + response.StatusCode.ToString();
            return;
        }
        else if (!response.IsSuccessStatusCode)
        {
            ErrorMessage = "GetCategoriesList request returned status code: " + response.StatusCode.ToString();
            return;
        }
        CategoriesList = await response.Content.ReadFromJsonAsync<List<Category>>();
    }
    private async Task GetSubcategoriesList()
    {
        string request = $"/subcategory/getalldefaultsubcategories";

        var response = await Http.GetAsync(EndpointUrl + request);
        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            ErrorMessage = "GetSubcategoriesList request returned status code: " + response.StatusCode.ToString();
            return;
        }
        else if (!response.IsSuccessStatusCode)
        {
            ErrorMessage = "GetSubcategoriesList request returned status code: " + response.StatusCode.ToString();
            return;
        }
        SubcategoriesList = await response.Content.ReadFromJsonAsync<List<Subcategory>>();
    }
    public async Task OnSubmit()
    {
        ErrorMessage = null;
        bool noValidationError = SetProperValuesToSubcategory();
        if (noValidationError == false) return;

        string requestUri;
        if (ContactId == null) requestUri = EndpointUrl + $"/contacts/createcontact";
        else requestUri = EndpointUrl + $"/contacts/editcontact";

        var requestMessage = await RequestMessageGenerator.GetHttpRequestMessage(HttpMethod.Post, requestUri);
        string jsonPostRequest = JsonSerializer.Serialize(ContactToSubmit);
        requestMessage.Content = new StringContent(jsonPostRequest, Encoding.UTF8, "application/json");
        var response = await Http.SendAsync(requestMessage);

        if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            ErrorMessage = "EditContact request returned status code: " + response.StatusCode.ToString();
            return;
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            ErrorMessage = $"Email {ContactToSubmit.Email} nie jest unikalny";
            return;
        }
        else if (!response.IsSuccessStatusCode)
        {
            if (ContactId == null)
            {
                ErrorMessage = "CreateContact request returned status code:" + response.StatusCode;
            }
            else
            {
                ErrorMessage = "EditContact request returned status code:" + response.StatusCode;
            }
            return;
        }
        NavigationManager.NavigateTo("contacts", true);
    }

    private bool SetProperValuesToSubcategory()
    {
        var category = CategoriesList.Where(c => c.CategoryId == ContactToSubmit.CategoryId).FirstOrDefault();
        if (category.IsAddingSubcategoryPossible)
        {
            if (ContactToSubmit.Subcategory?.Name == "")
            {
                ErrorMessage = "Nazwa podkategorii nie może być pusta";
                return false;
            }
            ContactToSubmit.Subcategory.CategoryId = ContactToSubmit.CategoryId;
            ContactToSubmit.Subcategory.IsDefaultSubcategory = false;
        }
        else if (category.DoesHaveSubcategories == false)
        {
            ContactToSubmit.Subcategory = null;
        }
        else
        {
            ContactToSubmit.Subcategory.CategoryId = ContactToSubmit.CategoryId;
            ContactToSubmit.Subcategory.Name = SubcategoriesList
            .Where(s => s.SubcategoryId == ContactToSubmit.Subcategory.SubcategoryId)
            .First().Name;
            ContactToSubmit.Subcategory.IsDefaultSubcategory = true;
        }
        return true;
    }
}

